.productItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 325px;
    margin: 27px;
    border-radius: 15px;
    box-shadow: -15px -15px 15px   rgba(255,255,255,0.2), 0px  15px 15px 15px rgba(0,0,0,0.1);
}



.productImageDiv{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-top:10px;
}

.productItemImg{
    align-items:center;
    width:100%;
    height: auto;
}

.description{
    text-align: center;
    margin-top:20px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}



.description > h4 {
    font-size: 1.4rem;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.description > p{
    color: grey;
}

.description > span{
    font-weight: 800;
}

.buttonSection{
    display:flex;
    float: right;
    margin-top:10px;
}

.addToCartIcon{
    color: black;
}

.addToCartIcon:hover{
    color: #ce1f6a;
}